body {
  font-family: var(--jf-font-main);
  color: var(--jf-secondary);
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--jf-font-headings);
  font-weight: 600;
}

.text-primary {
  color: var(--jf-primary) !important;
}
